extends models/layout-default
block content
  section.se__card
    .container
      .section__intro
        h2 Shopping cart
          svg.decor: use(xlink:href="#decor")
      .row.custom--top
        .col.lg-6
          .se__card--items
            .items__header
              .items__header--product Product
              .items__header--price Price
              .items__header--count Quantity
              .items__header--total Total
            .item
              a.item__delete(href=""): svg: use(xlink:href="#delete")
              img.item__image(src="img/bottles.png", alt="")
              .item__info
                strong Subscription
                span € 12.00/month
              .item__count
                select
                  option(value="4") 4
                  option(value="6") 6
                  option(value="8") 8
                  option(value="12" selected) 12
                  option(value="24") 24
                  option(value="48") 48
              .item__price € 12.00 <small>per month</small>
            //.checkbox
              input(type="checkbox")#card_subscribe
              label(for="card_subscribe")
                span.input: svg: use(xlink:href="#check")
                strong Subscribe 
                  span.info and save 5%
            //.subscribe__info By subscribing you will receive 12 bottles of Simpleat monthly.<br>You can cancel your subscription anytime.
          .se__card--total
            h2 Total
            .total__item
              strong Shipping:
              span € 0.00 (free delivery over € 100)
            .total__item
              strong Total price:
              span € 0.00 (includes € 0.00 VAT)
            .total__item
              strong Recurring total:
              span € 0.00/month (first renewal: Sep 25, 2017)
            .total__item
              strong Coupon code:
              span: input(type="text" placeholder="XXX XXX XXX XXX" data-masked="cupon")
          .se__card--payment
            a(href=""): svg: use(xlink:href="#visa")
            a(href=""): svg: use(xlink:href="#mastercard")
            a(href=""): svg: use(xlink:href="#paypal")

        .col.lg-6
          .se__card--checkout
            h2 Checkout details
            .checkout__row
              .checkout__row--input
                select
                  option(value="0" selected disabled) Choose or create new address
                  - for(i=1;i<3;i++)
                    option(value=i) Address Name #{i}
            .checkout__row
              .checkout__row--input
                label First name
                input(type="text", required)
              .checkout__row--input
                label Last name
                input(type="text", required)
            .checkout__row
              .checkout__row--input
                label E-mail
                input(type="email", required)
              .checkout__row--input
                label Phone
                input(type="tel", required)
            .checkout__row
              .checkout__row--input
                label Street address
                input(type="text", required)
            .checkout__row
              .checkout__row--input
                select
                  option(value="0" selected disabled) Country
                  - for(i=1;i<21;i++)
                    option(value=i) Country Name #{i}
              .checkout__row--input
                select
                  option(value="0" selected disabled) Province
                  - for(i=1;i<21;i++)
                    option(value=i) Province Name #{i}
            .checkout__row
              .checkout__row--input
                label Town/City
                input(type="text", required)
              .checkout__row--input
                label Post code 
                  span.muted (optional)
                input(type="text")
            .checkout__row
              .checkbox
                input(type="checkbox")#different
                label(for="different")
                  span.input: svg: use(xlink:href="#check")
                  strong Different shipping address
            hr
            .checkout__row
              .checkout__row--input
                label First name
                input(type="text", required)
              .checkout__row--input
                label Last name
                input(type="text", required)
            .checkout__row
              .checkout__row--input
                label E-mail
                input(type="email", required)
              .checkout__row--input
                label Phone
                input(type="tel", required)
            .checkout__row
              .checkout__row--input
                label Street address
                input(type="text", required)
            .checkout__row
              .checkout__row--input
                select
                  option(value="0" selected disabled) Country
                  - for(i=1;i<21;i++)
                    option(value=i) Country Name #{i}
              .checkout__row--input
                select
                  option(value="0" selected disabled) Province
                  - for(i=1;i<21;i++)
                    option(value=i) Province Name #{i}
            .checkout__row
              .checkout__row--input
                label Town/City
                input(type="text", required)
              .checkout__row--input
                label Post code 
                  span.muted (optional)
                input(type="text")
            hr.separator
            .checkout__row
              .checkout__row--input
                label Order notes 
                  span.muted (optional)
                textarea
            button.btn.default Submit